<div id="myContrId" class="board-layout"> 
    <div class="left">
      <div class="board-text">{{boardTitle}}</div>
      <button type="button" class="btn btn-primary" ng-click="addNewList()">+ Add new list</button>
    </div>
  <div id='boardlists' class="board-lists">
    <div id="mainBoard" ng-repeat="(key, value) in boardData[indexOfBoard].lists track by $index">
        <div  id='{{key}}' class="board-list" ondrop="angular.element(document.getElementById('myContrId')).scope().dropIt(event)" ondragover="angular.element(document.getElementById('myContrId')).scope().allowDrop(event)">
            <div id='title-{{key}}' class="list-title">
                {{key}}
                    <button type="button" class="btn btn-danger btn-sm float-right" ng-click="deleteList(key)">Delete list</button>
            </div>
            <hr>
            <div id="mainCard" ng-repeat="card in boardData[indexOfBoard].lists[key] track by $index">
                <div id='{{card}}' class="card" ng-click="viewCard(card)" draggable="true" ondragstart="angular.element(document.getElementById('myContrId')).scope().dragStart(event)">
                    {{card.cardTitle}}
                    <div id='desc-{{card}}'>{{card.cardDescription}}</div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" ng-click="addNewCard(key)">Add new card</button>
    </div>
  </div>
</div>